#player{
    display: flex;
    background: black;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#baseview{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#myiframe{
    background:rgb(38, 38, 38);
    margin: -10px 0 0 -12.5px;
    padding: 0;
}