#player{
    display: flex;
    background: black;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#baseview{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

#myiframe{
    background:rgb(38, 38, 38);
    margin: -10px 0 0 -12.5px;
    padding: 0;
}
#iframeImg{
    display: flex;
    margin-left: 0;
    margin-top: -10px;
    height: 100%;
    width: auto;
    position: absolute;
    justify-content: center;
    align-self: center;
}